<!DOCTYPE HTML>
<html lang="EN">
    <head>
        <meta charset=”utf-8”>
        <title>Tennis Club Master</title>
        <link type="css/text" href="../static/index.css" rel="stylesheet">
    </head>
    <body>
        <div id="header">
        <h1>My Tennis Club</h1>
        <p id="ps">Admins only</p>
        </div>
        <div id="menu">
            <a href="mock-link">Admin account</a>
            <a href="mock-link">Members</a>
            <a href="mock-link">Teams</a>
            <a href="mock-link">Locations</a>
        </div>
    </body>
</html>